

.container{
 margin:0 auto;
    display: flex;
    justify-content: center;
    gap:24px;
  width: 1280px;

  color:black
}
.containerPicker{
    display: flex;
    justify-content: center;
    gap:20px;
    color:black
}
